{% extends "layout.html" %}
{% block content %}

    <div class="container p-3">
    {% for wd in domains %}
        <a href="view-data?f={{ ("?workflow oda:domain <"+wd+">") | urlencode }}">
        {{ wd.replace("http://odahub.io/ontology", "") }} 
        </a>
    {% endfor %}
    </div>

  <table class="table table-striped table-sm">

    <thead class="thead">
     <tr>
       <th>URI</th>
       <th>Domains</th>
       <th>Call Type</th>
       <th>Location</th>
       <th>Inputs</th>
       <th>Actions</th>
       <th>Added by</th>
     </tr>
    </thead>

    {% for d in data %}
        <tr>
            <td>{{ d.workflow | uri | safe }}</td>
            <td>
                {% for dm in d.domains %}
                    {{ dm.domain | uri | safe}}
                {% endfor %}
            </td>
            <td>{{ d.call_type | uri | safe }}
            {{ d.call_context | uri | safe  }}</td>
            <td>{{ d.location | locurl | safe }}</td>

            <td>
                <ul>
                {% for b,i in d.expects.items() %}
                    <li>
                        <b>{{b}}</b>={{i.replace("http://odahub.io/ontology#curryied_input_","")}}
                    </li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <div class="span2">
                    <button type="button" class="btn btn-sm btn-block btn-primary" 
                                          onclick="window.open('add-test?location={{ d.location | urlencode }}&uri={{ d.workflow | urlencode }}&email={{ d.email | urlencode }}','_blank');">Copy</button>
                    <button type="button" class="btn btn-sm btn-block btn-danger" 
                                          onclick="$.get('expire?uri={{ d.workflow | urlencode }}', function (data) {alert(data); })">Expire</button>
                </div>
            </td>
            <td>
                <a href="mailto:{{ d.email }}"> {{ d.email }}  </a>
            </td>
        </tr>
    {% endfor %}

  </table>
{% endblock %}
